# Core
pandas
numpy
scipy
loguru
pydantic
python-dotenv
google-cloud-firestore

# Async
aiohttp
websockets
aiosignal

# Machine Learning & Analysis
scikit-learn
xgboost
lightgbm
ta
statsmodels

# Backtesting & Optimization
vectorbt
optuna
